extends templates/main

block content 
    .error-div
        h1.error-title 404 Not Found
        p.error-text The page you are looking for doesn't exist
        a(href="/").back-to-home
            p Back to home Page