@use './scss/lib.scss' as *;
@use './scss/index.scss';
@use './scss/kids.scss';
@use './scss/about.scss';
@use './scss/header.scss';
@use './scss/infoModal.scss';
@use './scss/footer.scss';
@use './scss/movies.scss';
@use './scss/movie.scss';
@use './scss/error.scss';

* {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}
html {
  background-color: $background-color;
  color: $text-color-main;
}
body {
  padding: 0;
  margin: 0;
  max-width: $screen-max;
  margin: auto;

  .cinema-title, .cinema-open {
    margin-left: 1.2rem;
  }
  .open-div {
    margin-right: 1.2rem;
  }
  .kino-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
