@use './lib.scss' as *;

.movie-headline {
  max-width: 1280px;
  background-color: $background-color;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1rem;
  color: $text-color-main;
  font-weight: 400;
}
.movie-container {
  max-width: 1280px;
  background-color: $background-color;
  color: $text-color-main;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1rem;
  margin: 0 auto;
  .movie-card {
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    h2 {
      font-size: 1rem;
      font-weight: 400;
      margin: 0;

      &:hover {
        cursor: pointer;
      }
    }
    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: $red-color;
  padding: 1.5rem;
  width: 80%;
  max-width: 600px;
  border: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  color: white;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .movie-headline {
    font-size: 1.3rem;
  }
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .movie-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
